/user-manual.aux
/user-manual.dvi
/user-manual.lof
/user-manual.log
/user-manual.out
/user-manual.ps
/user-manual.toc
/user-manual.maf
/user-manual.mtc
/user-manual.mtc0
/tmp/
/user-manual.pdf
/user-manual.glo
/user-manual.glsdefs
/user-manual.idx
/user-manual.xdy
